<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/top :: top}"></head>
<body>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h1>Article Admin page.</h1>
        </div>

        <div id="main">
            <div class="container">
                <div class="row">

                    <table border="1">
                        <caption>Статьи</caption>
                        <tr>
                            <th>Выбрать</th>
                            <th>Заголовок</th>
                            <th>Опубликована</th>
                            <th>Дата последней правки</th>
                            <th>Количество комментариев</th>
                        </tr>

                        <th:block th:each="article: ${articles}">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>
                                    <a th:href="${siteUrl}+${articleUrlPath}+'/'+${article.getId()}" rel="bookmark">
                                        <h4 th:text="${article.getArticleTitle()}">article title</h4>
                                    </a>
                                </td>
                                <td><input type="checkbox"></td>
                                <td>
                                    <span th:text="${article.getLastEditDateTime()}">last edit article date</span>
                                </td>
                                <td>31,5</td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div th:include="~{fragments/botom :: botom}"></div>

</div>
</body>
</html>
