<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="~{fragments/top :: top}"></head>
<body>
<th:block th:include="~{fragments/navigation :: navigation}"></th:block>
<div class="container" id="main_container">
    <h3>Администрирование статей</h3>
    <hr>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="alert alert-light" role="alert">
                        <button type="button" class="btn btn-success my-2 my-sm-0 btn-sm" @click="showAddArticleForm()" id="add_article_btn">Добавить</button>
                        <button type="button" class="btn btn-info my-2 my-sm-0 btn-sm" @click="editArticleButtonClick()">Редактировать</button>
                        <button type="button" class="btn btn-danger my-2 my-sm-0 btn-sm">Удалить</button>
                        <button type="button" class="btn btn-info my-2 my-sm-0 btn-sm">Комментарии</button>
                    </div>

                    <table class="table table-bordered table-hover table-sm">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Название</th>
                            <th>Публикация</th>
                            <th>Раздел</th>
                            <th>Просмотров</th>
                            <th>Комментариев</th>
                        </tr>
                        </thead>

                        <th:block th:each="article: ${articles}">
                            <tr>
                                <td><input type="checkbox" th:id="articleCheckBox+${article.getId()}" ></td>
                                <td>
                                    <a th:href="${siteUrl}+${articleUrlPath}+'/'+${article.getId()}" rel="bookmark">
                                        <!--<span th:text="${article.getArticleTitle()}">article title</span>-->
                                        <span>article title</span>
                                    </a>
                                </td>
                                <td><input type="checkbox"></td>
                                <td>
                                    <!--<span th:text="${article.getLastEditedDatetime()}">last edit article date</span>-->
                                    <span>last edit article date</span>
                                </td>
                                <td>31</td>
                                <td>31/<b>43</b></td>
                            </tr>
                        </th:block>
                    </table>

                    <br>
                    <form id="add_edit_atricle_form" v-show="isShowingAddEditForm">
                        <div class="form-group">
                            <label for="formArticleTitle">Название статьи</label>
                            <input type="text" class="form-control" id="formArticleTitle" placeholder="Название статьи">
                        </div>
                        <div class="form-group">
                            <label for="formArticleBody">Статья</label>
                            <textarea class="form-control" id="formArticleBody" rows="3"></textarea>
                        </div>
                        <div class="alert alert-light" role="alert">
                            <button @click="addArticleButtonClick()" type="button" class="btn btn-success my-2 my-sm-0 btn-sm">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="~{fragments/bottom :: bottom}"></div>
</body>
</html>
