<div th:fragment="about_me" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="p-2 container bg-light">
        <p>
            <b>Обо мне</b>
        </p>
        <p>
            Меня зовут Заречнев Руслан,
            у меня есть большой опыт системного и сетевого администрирования.
            Являюсь фанатом GNU Linux.
            Развиваюсь как разработчик ПО на Java (Spring), DevOps.
        </p>
        <p>
            Целью ведения данного блога является систематизация опыта
            (когда пишешь - лучше анализириешь), запись размышлений и идей.
        </p>
        <hr>
        <p>
            Хочется быть полезным =), постараюсь достичь цели.
        </p>
    </div>
</div>
