<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/top :: top}"></head>
<body>
<th:block th:include="~{fragments/navigation :: navigation}"></th:block>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Хобби, увлечения, статьи</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <th:block th:each="article: ${articles}">
                <h4 th:text="${article.getArticleTitle()}">article title</h4>
                <p th:text="${article.getAbstract()}">shot top part of article</p>
                <div class="alert alert-light" role="alert">
                    <a th:href="${siteUrl}+${articleUrlPath}+'/'+${article.getId()}"><span>Подробнее</span></a>
                </div>
            </th:block>
        </div>
        <div class="col-3 bg-light">
            <h5>Темы</h5>
        </div>
    </div>
    <hr>
    <div class="credit">Design By Zarechnev Ruslan</div>
</div>
<div th:include="~{fragments/bottom :: bottom}"></div>
</body>
</html>