<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/top :: top}"></head>
<body>
<th:block th:include="~{fragments/navigation :: navigation}"></th:block>
<div class="container">
    <h2>Хобби, увлечения, статьи</h2>
    <hr>
    <h2 style="font-size:35px;" th:text="${article.getArticleTitle()}">article title</h2>
    <p th:text="${article.getArticleBody()}">shot top part of article</p>
</div>
<div th:include="~{fragments/bottom :: bottom}"></div>
</body>
</html>